body{
   margin: 0;
}

.logo{
    text-decoration: none;
}

.navbar{
    display: flex;
    padding: 10px;
   
}

ul li a{
    text-decoration: none;
   padding: 10px;
    display: flex;
}

ul li {
    list-style: none;
    display: flex;
}